        <div class="miniwishlist-wrapper">    
            <a class="action showwishlist" href="#">
                <span class="text"><?php echo __('My Wish List'); ?></span>
            </a>
            <div class="block block-miniwishlist">
                <div id="miniwishlist-content-wrapper">
                     <img src="<?php echo $block->getViewFileUrl('images/loader-1.gif'); ?>" alt="<?php echo __('Loading'); ?>" title="<?php echo __('Loading'); ?>" width="35" height="35" class="loading"/>
                </div>
            </div>
        </div>