        <div class="miniwishlist-wrapper guest">    
            <a class="action showwishlist" href="#">
                <span class="text"><?php echo __('My Wish List'); ?></span>
            </a>
            <div class="block block-miniwishlist">
                <div id="miniwishlist-content-wrapper">
                    <p><strong><?php echo __('Create an account to access Saved Items:'); ?></strong></p>
                    <ul>
                        <li>Organize products and looks.</li>
                        <li>Share your list with family and friends.</li>
                        <li>Purchase products at a later date.</li>
                    </ul>
                    <button class="action primary signin" type="button"><span>Sign In</span></button>
                    <button class="action createaccount" type="button"><span>Create Account</span></button>
                </div>
            </div>
        </div>
